<% if !@order_item.nil? && @order_item.errors.any? %>
  <div class="alert alert-danger">
    <ul>
    <% @order_item.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<% if @order_items.size == 0 %>
  <p class="text-center">
    There are no items in your shopping cart.  Please <%= link_to "go back", root_path %> and add some items to your cart.
  </p>
<% else %>
  <% @order_items.each do |order_item| %>
    <%= render 'carts/cart_row', product: order_item.product, order_item: order_item, show_total: true %>
  <% end %>
<% end %>

<%= form_tag(cart_path, :method => "get", id: "buycart-form") do %>
  <table>
  <tr>
    <td><%= label_tag :Name %></td>
    <td><%= text_field_tag 'customername', params[:customername], placeholder: "Name", :required => true %></td>
  </tr>
  <tr>
    <td><%= label_tag :Email %></td>
    <td><%= email_field_tag 'customeremail', params[:customeremail],placeholder: "Email", :required => true, :pattern => '[^@]+@[^@]+\.[a-zA-Z]{2,6}'  %></td>
  </tr>
  <tr>
    <td><%= label_tag :"Shipping Address" %></td>
    <td> <%= text_area_tag 'customershipadd', params[:customershipadd], placeholder: "Shiping address", :required => true,  :rows => 3  %></td>
  </tr>
  <tr>
    <td><%= hidden_field_tag 'complete', 'yes' %></td>
    <td><%= submit_tag "Check Out", :onclick => "return confirm('Do you want to Check Out ?');",:confirm=> "sure?", :class=> "btn btn-primary" %></td>
  </tr>
  </table>
  <%= link_to "go back", root_path %> 
<% end %>

